body{
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}
body > input[type="radio"] {
  display: none;
}
.site-wrapper{
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5 ease;
}
.site-wrapper::before,
.site-wrapper::after{
  content: "";
  visibility: hidden;
}
.site-wrapper::before{
  background-image: url("../img/ice-cream-2.png");
}
.site-wrapper::before{
  background-image: url("../img/ice-cream-3.png");
}
.content-wrapper{
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.slider{
  width: 1146px;
  margin: 0 auto;
  position: relative;
  padding-top: 266px;
  text-align: center;
  color: #ffffff;
}
.slide{
  display: none;
}
.slide-name{
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 61px;
  font-size: 60px;
}
.button{
  display: inline-block;
  vertical-align: top;
  color: #fefefe;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba (160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.button-slide{
  padding: 10px 42px;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}
.button:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: -moz-linear-gradient(top, #d74632 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d74632 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls{
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;
}
.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 6px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper{
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}
#btn-2:checked ~ .site-wrapper{
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}
#btn-3:checked ~ .site-wrapper{
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
h1{
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 27px;
}
h2{
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 14px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
header{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  color: #ffffff;
}
.main-navigation{
  float: left;
  width: 573px;
  margin-top: 9px;
}
.main-navigation .logo{
  float: left;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}
.main-navigation ul{
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-top: 15px;
  margin-bottom: 6px;
}
.menu-item a{
  color: #ffffff;
  display: block;
  text-decoration: none;
  border-radius: 14px;
  padding: 7px 14px;
}
.menu-item .visit{
  background-color: #d07058;
}
.menu-item {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  position: relative;
}
.menu-item a::after{
  content: "";
  display: block;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.2;
  width: 100%;
}
.menu-item a:hover{
  color: #333333;
  background-color: #f7f6f3;
}
.menu-item a:hover+.submenu{
  display: block;
}
.menu-item a:active{
  color: #333333;
  background-color: #ededed;
}
.submenu{
  position: absolute;
  top: 23px;
  left: -6px;
  z-index: 10;
  display: none;
}
.submenu:hover{
  display: block;
}
.submenu-item{
  font-size: 14px;
  line-height: 16px;
}
.submenu-item a{
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
}
.submenu-item a:hover{
  background-color: #fbded7;
}
.submenu-item a:active{
  color: #323232;
  background-color: #f6b5a5;
}
/*.submenu-item a:disabled{
  color: #ffffff;
  background-color: #d07058;
}*/
.user-block{
  float: right;
  width: 275px;
}
.user{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.user-block-item{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  margin-top: 23px;
  margin-left: 11px;
}
.user-block-item a{
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 16px;
}
.search{
  width: 32px;
  height: 16px;
  background-color: #ffffff;
  opacity: 0.2;
  position: relative;
}
.search:hover{
  background-color: #ffffff;
  opacity: 1;
}
.search::before{
  content: "";
  position: absolute;
  bottom: 7px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -391px -172px;
  opacity: 1;
}
.search:hover::before{
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -354px -172px;
}
.login{
  padding-left: 44px;
  padding-right: 16px;
  background-color: #ffffff;
  opacity: 0.2;
  position: relative;
}
.login:hover{
  background-color: #ffffff;
  opacity: 1;
  color: #323232;
}
.login::before{
  content: "";
  position: absolute;
  bottom: 7px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -271px -49px;
}
.login:hover::before{
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -271px -10px;
}
.basket{
  padding-left: 42px;
  padding-right: 37px;
  /*background-color: #ffffff;
  opacity: 0.2;*/
  position: relative;
}
.basket::before{
  content: "";
  position: absolute;
  bottom: 7px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -51px -10px;
}
.not-empty::before{
  content: "";
  position: absolute;
  bottom: 7px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}
.user-time{
  float: right;
  width: 170px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}
.tel{
  font-size: 22px;
  line-height:24px;
  font-weight: bold;
}
.purchase{
  width: 540px;
  background-color: #f8f7f4;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  position: absolute;
  top: 70px;
  right: 100px;
  z-index: 20;
  display: none;
}
table{
  border-collapse: collapse;
  margin: 10px 15px;
}
td{
  padding-left: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  vertical-align: top;
}
.close{
  width: 23px;
  position: relative;
}
.delete::before{
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  width: 11px;
  height: 11px;
  background-image: url("../img/sprite.png");
  background-position: -172px -10px;
}
.icon{
  width: 44px;
  position: relative;
}
.photo-1::before{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 33px;
  height: 33px;
  background-image: url("../img/sprite.png");
  background-position: -10px -157px;
}
.photo-2:before{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 33px;
  height: 33px;
  background-image: url("../img/sprite.png");
  background-position: -63px -157px;
}
.ice{
  width: 225px;
  padding-right: 20px;
}
.ice-price{
  width: 120px;
}
.price-total{
  width: 70px;
}
.sum{
  color: #999999;
}
.total{
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
  border-top: 1px solid grey;
}
.order{
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 340px;
  text-align: right;
}
.button-purchase,
.button-modal{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 15px;
}
.basket:hover+.purchase{
  display: block;
}
main{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.actions{
  width: 1146px;
  margin: 40px 27px;
}
.action-item{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 20px;
}
.raspberries{
  float: left;
  width: 560px;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  background-color: #d34869;
  border-radius: 15px;
}
.chocolate{
  float: right;
  width: 560px;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  background-color: #40271d;
  border-radius: 15px;
}
.button-action{
  font-size: 18px;
  line-height: 24px;
  padding: 11px 22px;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 46px;
}
.catalog{
  width: 1172;
  margin: 0 14px;
  margin-bottom: 23px;
}
.catalog-item{
  float: left;
  width: 267px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  position: relative;
}
.catalog-item-photo{
  width: 267px;
  height: 267px;
  border-radius: 50%;
}
.catalog-item-hit{
  position: absolute;
}
.catalog-item-price{
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -65px;
  margin-bottom: 28px;
}
.catalog-item-name{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.catalog-item:hover{
  background: rgb(255, 255, 255);
  background: rgba (255, 255, 255, 0.3);
}
.button-catalog{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 14px;
  margin-left: 40px;
  margin-bottom: 20px;
  display: none;
}
.production{
  width: 1146px;
  margin: 0 27px;
  margin-bottom: 40px;
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  background-color: #ebddbe;
  border-radius: 15px;
}
.production-item{
  float: left;
  width: 478px;
  padding-left: 75px;
  padding-right: 20px;
  padding-bottom: 8px;
  margin-top: 0px;
  position: relative;
}
.production-item::before{
  content: "";
  position: absolute;
  top: -15px;
  left: 16px;
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -231px -88px;
}
.production-item:nth-child(4)::before{
  content: "";
  position: absolute;
  top: -15px;
  left: 16px;
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -174px -157px;
}
.production-item:nth-child(3)::before{
  content: "";
  position: absolute;
  top: -15px;
  left: 16px;
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -203px -10px;
}
.production-item:last-child::before{
  content: "";
  position: absolute;
  top: -15px;
  left: 16px;
  width: 49px;
  height: 49px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -428px -172px;;
}
h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 24px;
  padding-left: 20px;
}
.news{
  width: 1146px;
  margin: 0 27px;
}
.blog{
  float: left;
  width: 560px;
  background-image: url("../img/blog.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.new{
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 7px;
}
.topic{
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  margin-left: 20px;
  margin-right: 250px;
  margin-bottom: 76px;
}
.delivery{
  float: right;
  width: 560px;
  background-color: #ffffff;
  border-radius: 15px;
}
.mail{
  display: block;
  color: #5a5a5a;
  margin-top: 35px;
  padding-left: 27px;
  padding-right: 12px;
}
.button-mail{
  color: #fefefe;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 10px 17px;
  margin-left: 7px;
  margin-bottom: 40px;
}
.mail input[type="text"]{
  width: 353px;
  height: 40px;
  font-size: 16px;
  line-height:24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #999999;
  padding-left: 15px;
}
.map{
  min-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}
.container{
  width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid green;
}
.address{
  width: 303px;
  float: right;
  background-color: #fefefe;
}
.breadcrumbs{
  margin-left: 27px;
}
.filters{
  width: 1146px;
  margin: 0 27px;
}
.sorting{
  float: left;
  width: 195px;
  padding-right: 15px;
}
.price{
  float: left;
  width: 220px;
  padding-right: 15px;
}
.fatness{
  float: left;
  width: 418px;
  padding-right: 280px;
}
.fillers{
  float: left;
  width: 863px;
  padding-right: 280px;
}
.nav-paginator{
  float: right;
  padding-right: 27px;
}
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}
.sprite-icon-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}
.sprite-icon-basket-without {
    width: 21px;
    height: 20px;
    background-position: -51px -10px;
}
.sprite-icon-checkbox-off {
    width: 20px;
    height: 20px;
    background-position: -92px -10px;
}
.sprite-icon-checkbox-on {
    width: 20px;
    height: 20px;
    background-position: -132px -10px;
}
.sprite-icon-close {
    width: 11px;
    height: 11px;
    background-position: -172px -10px;
}
.sprite-icon-cow {
    width: 48px;
    height: 49px;
    background-position: -203px -10px;
}
.sprite-icon-entrance {
    width: 21px;
    height: 19px;
    background-position: -271px -10px;
}
.sprite-icon-entrance-white {
    width: 21px;
    height: 19px;
    background-position: -271px -49px;
}
.sprite-icon-fb {
    width: 38px;
    height: 38px;
    background-position: -10px -88px;
}
.sprite-icon-heart {
    width: 15px;
    height: 13px;
    background-position: -68px -88px;
}
.sprite-icon-html {
    width: 108px;
    height: 38px;
    background-position: -103px -88px;
}
.sprite-icon-ice {
    width: 49px;
    height: 49px;
    background-position: -231px -88px;
}
.sprite-icon-ice-1 {
    width: 33px;
    height: 33px;
    background-position: -10px -157px;
}
.sprite-icon-ice-2 {
    width: 33px;
    height: 33px;
    background-position: -63px -157px;
}
.sprite-icon-incta {
    width: 38px;
    height: 38px;
    background-position: -116px -157px;
}
.sprite-icon-leaf {
    width: 49px;
    height: 49px;
    background-position: -174px -157px;
}
.sprite-icon-marker {
    width: 9px;
    height: 5px;
    background-position: -172px -49px;
}
.sprite-icon-next {
    width: 9px;
    height: 14px;
    background-position: -300px -88px;
}
.sprite-icon-pin {
    width: 218px;
    height: 142px;
    background-position: -329px -10px;
}
.sprite-icon-prev {
    width: 9px;
    height: 14px;
    background-position: -243px -172px;
}
.sprite-icon-radio-off {
    width: 21px;
    height: 22px;
    background-position: -272px -172px;
}
.sprite-icon-radio-on {
    width: 21px;
    height: 22px;
    background-position: -313px -172px;
}
.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -354px -172px;
}
.sprite-icon-search-white {
    width: 17px;
    height: 17px;
    background-position: -391px -172px;
}
.sprite-icon-thermometer {
    width: 48px;
    height: 49px;
    background-position: -428px -172px;
}
.sprite-icon-twitter {
    width: 32px;
    height: 32px;
    background-position: -496px -172px;
}
.sprite-icon-vk {
    width: 38px;
    height: 38px;
    background-position: -10px -224px;
}
footer{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.footer-social{
  float: left;
  width: 350px;
  padding-right: 50px;
}
.footer-about-us{
  float: left;
  width: 340px;
}
.footer-copyright{
  float: right;
  width: 190px;
}
.modal-content{
  position: absolute;
  top: 338px;
  left: 50%;
  width: 425px;
  margin-left: -223px;
  padding: 20px 24px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  display: none;
}
.modal-content-close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after{
  content: "";
  position: absolute;
  top: 8px;
  left: -3px;
  width: 22px;
  height: 3px;
  background-color: #333333;
  border-radius: 1px;
}
.modal-content-close::before{
  transform: rotate(45deg);
}
.modal-content-close::after{
  transform: rotate(-45deg);
}
.modal-contact{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 20px;
}
.modal-form input[type="text"],
.modal-form textarea{
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #999999;
}
.modal-form input[type="text"]{
  width: 267px;
  margin: 0;
  margin-bottom: 20px;
  padding: 9px 14px;
  border-radius: 3px;
}
.modal-form textarea{
  width: 398px;
  margin: 0;
  margin-bottom: 20px;
  padding: 9px 14px;
  border-radius: 3px;
}
.button-modal{
  margin-left: 300px;
  margin-bottom: 10px;
}
